html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;;
}
a {
    text-decoration: none;
}

#nav {
    width: 100%;
    height: 40px;
}

#index_nav {
    position: absolute;
    right: 115px;
    top: 20px;
}

#index_nav ul {
    padding: 0;
    margin: 0;
}

#index_nav ul li {
    position: relative;
    height: 30px;
    float: left;
    list-style: none;
    margin: 0 10px;
}

#index_nav ul li:hover {
    border-bottom: 1px solid grey;
}

.sliderImg {
    box-shadow: 0 0 15px #808080;
    border-radius: 3px;
    transition:all 1s ease;
    -webkit-background-size:cover;
    background-size:cover;
}

#fot {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 5px;
    text-align: center;
}

#fot span {
    margin: 0 auto;
    color: rgba(128, 128, 128, 0.5);
    font-size: 14px;
    margin-right: 20px;
    text-shadow: 1px 1px 1px #FFF, 0 0 0 #000;
}
#fot span a{
    text-decoration: none;
    color: rgba(128, 128, 128, 0.5);
    font-size: 14px;
    margin-right: 20px;
    text-shadow: 1px 1px 1px #FFF, 0 0 0 #000;
}

.contentBoard, .currentboard {
    width: 100%;
    height: auto;
    margin: auto 0;
    display: none;
    overflow:hidden;
}

#photos_nav ul {
    height: 30px;
    width: 100%;
    padding: 0;
    margin-bottom: 0
}

#photos_nav ul li {
    color: grey;
    float: left;
    margin-right: 20px;
    padding: 0;
    list-style: none;
}

#photos_nav ul li a {
    color: grey;
    padding: 3px;
}

#photos_nav ul li a:hover {
    color: #202020;
    background: #ddd;
    border-radius: 3px;
    text-shadow: 0 1px 0 #fcfcfc
}

#photos_frame {
    overflow: visible;
    margin: 0 auto;
    position: relative;
}

#leftward, #rightward {;
    background-size: contain;
    height: 100px;
    width: 28px;
    position: absolute;
    z-index: 2;
    top: 43%;
    display: block
}

#photos_content {
    width: 100%;
    height: 100%; /*border: green solid 1px;*/
    position: relative
}

.imgBoxLine {
    float: left;
}

.imgbox {;
    background: grey;
    float: left;
    position: relative
}

.innerShadWhite {
    color: rgba(128, 128, 128, 0.5);
    text-shadow: 1px 1px 1px #FFF, 0 0 0 #000;
}

.coverImgBox {
    float: left;
    width: 230px;
    margin: 0 5px;
    position: relative
}

.coverImgBox:hover {;
    box-shadow: 0 0 5px #595959;
    background: #d1d1d1;
    text-shadow: 0 1px 0 #f6f6f6;
}

.coverImgBox img {
    float: left;
    width: 229px;
    height: 152px
}

.coverImgBox span {
    text-align: center;
    float: left;
    width: 230px;
    margin-top: 20px;
}

.coverImgBox a {
    background: #14182E;
    opacity: .5
}

.grayscale {
}

.abouttext {
    height: 100%;
    float: left;
    font-size: 12px;
    line-height: 1.75
}

.erweima {
    width: 90px;
    float: left;
    margin-right: 35px;
    line-height: 1.65;
    font-size: 12px;
}

.erweima span {
    display: block;
    height: 30px;
    line-height: 30px;
}

.erweima img {
    width: 100%;
}