@keyframes leftIn {
    0% {
        left: -20px;
    }
    100% {
        left: 0;
    }
}

@keyframes rightIn {
    0% {
        right: -20px;
    }
    100% {
        right: 0;
    }
}

@keyframes shine {
    0% {
        opacity: 1;
    }
    20%{
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}

html {
    overflow: hidden;
}
embed{
    height: 0;
    display: none;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f6f6f6;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;;
}
a {
    text-decoration: none;
}

#nav {
    width: 100%;
    height: 10%;
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    bottom: 0;
}
#boards{
    width: 100%;
    height: 90%;
    background: #f6f6f6;
    position: absolute;
    top: 10%;
    bottom: 0;
}

#index_nav {
    position: absolute;
    right: 115px;
    top: 20px;
}

#index_nav ul {
    padding: 0;
    margin: 0;
}

#index_nav ul li {
    position: relative;
    height: 30px;
    float: left;
    list-style: none;
    margin: 0 10px;
    background-repeat: no-repeat;
    background-size:contain ;
}

#index_nav ul li:hover {
    border-bottom: 1px solid grey;
}

.sliderImg {
    box-shadow: 0 0 15px #808080;
    border-radius: 3px;
    transition:all 1s ease;
    background-size:cover;
    background-position: center;
}

#fot {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 5px;
    text-align: center;
}

#fot span {
    color: rgba(128, 128, 128, 0.5);
    font-size: 14px;
    margin: 0 20px 0 auto;
    text-shadow: 1px 1px 1px #FFF, 0 0 0 #000;
}
#fot span a{
    text-decoration: none;
    color: rgba(128, 128, 128, 0.5);
    font-size: 14px;
    margin-right: 20px;
    text-shadow: 1px 1px 1px #FFF, 0 0 0 #000;
}

.contentBoard, .currentboard {
    padding: 40px;
    position: absolute;
    display: none;
    overflow:hidden;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
}

#photos_nav ul {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0
}

#photos_nav ul li {
    color: grey;
    float: left;
    margin-right: 20px;
    padding: 0;
    list-style: none;
}

#photos_nav ul li a {
    color: grey;
    padding: 3px;
}

#photos_nav ul li a:hover {
    color: #202020;
    background: #ddd;
    border-radius: 3px;
    text-shadow: 0 1px 0 #fcfcfc
}
#photos_nav{
    height:8%;}
#albums{
    height: 92%;
    position: relative;
}

.album{
    float: left;
    border: 1px solid grey;
    background: no-repeat center;
    background-size: cover;
    transition: all .5s ease;
    opacity: 0;
    overflow: hidden;
}

.album .cover{
    position: absolute;
    top: 0;
    right:0;
    width: 100%;
    height: 100%;
    transition: width 1s ease;
    background: white url('../img/ui/logo.png') center no-repeat;
    background-size: 20%;
}

.thumbBox{
    position:absolute;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.thumbBox:hover{
    animation:shine .5s ease
}

.thumbBox .eleCover{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    background: #fff url('../img/ui/logo.png') no-repeat center;
    background-size:50%;
    transition: all 1s ease;
}
.innerShadWhite {
    color: rgba(128, 128, 128, 0.5);
    text-shadow: 1px 1px 1px #FFF, 0 0 0 #000;
}

.albumInfoBar{
    float: right;
    transition: all .1s ease;
    animation: rightIn .5s ease;
    position:relative;
}

.albumInfoBar span{
    margin:0 0 0 20px;
    color: grey;
    transition: all .1s ease;
}

.backOff{
    color: grey;
    text-decoration: underline;
    float: left;
    transition: all .1s ease;
    margin: 0 3px;
    animation: leftIn .5s ease;
    position:relative;
}


.backOff:hover{
    color: #202020;
    background: #ddd;
    border-radius: 3px;
    text-shadow: 0 1px 0 #fcfcfc
}

.album .albumRemark{
    transition:all .3s ease;
    background: #2d2d2d;
    opacity: .7;
    position:absolute;
    height: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    color:#fff;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 1.5;

}

.album:hover .albumRemark{
    transition:all .1s ease;
    height:20% ;
}




